<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{_("cyclone web server")}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {padding-top: 60px;}
    </style>

  </head>

  <body>

    <div class="container">

      <h1>{{_("It works!")}}</h1>
      <br>
      <small>
        <a href="/lang/en_US">English</a>&nbsp;
        <a href="/lang/es_ES">Español</a>&nbsp;
        <a href="/lang/pt_BR">Português</a>
      </small>

    </div> <!-- /container -->

  </body>
</html>
