Source: python-cyclone
Section: python
Priority: extra
Maintainer: Rodrigo Sampaio Vaz <rodrigo.vaz@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-setuptools
Standards-Version: 3.9.2
Homepage: http://cyclone.io
Vcs-Git: git://github.com/fiorix/cyclone.git

Package: python-cyclone
Architecture: any
Depends: python-twisted
Description: Twisted toolkit based on tornado
 Cyclone is a low-level network toolkit, which provides support for HTTP 1.1 in an API very similar
 to the one implemented by the Tornado web server. Cyclone is a Twisted Protocol.
